


<%= render 'form', event: @event, :class => "links" %>

<%= link_to 'Retour', events_path, :class => "links"%>

<div class="">     
    <%= image_tag 'droite2.png', class: "img1", :width => "350vw"; %>
  </div>
    <div class="">     
    <%= image_tag 'gauche.png', class: "img", :width => "300vw"; %>
  </div>