<div class="container">
  <h1>Créer une rencontre</h1>
  <div class="news_corona">
  <h4 style="text-align: center; color:red;" > En raison de l'actualité, il se peut que certains événements soient perturbés. <br> Contactez l'organisateur pour en savoir plus.</h4>
  <a href="https://www.gouvernement.fr/" style="text-align:center; color:red;"> Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
</div> 
  <%= render 'form', event: @event, :class => "links" %>
</div>
