
 	<h2 class="title">Créer une rencontre</h2>

<%= render 'form', event: @event, :class => "links" %>

<%= link_to 'Retour', events_path, :class => "links"%>

	  <div class="">     
	    <%= image_tag 'droite2.png', class: "img1", :width => "20%"; %>
	  </div>
	   <div class="">     
	    <%= image_tag 'gauche.png', class: "img", :width => "20%"; %>
	  </div> 