<div class="container">
  <h1>Créer une rencontre</h1>
  <div  class="alert alert-danger" role="alert">
  <h4 style="text-align: center;"> En raison de l'actualité, il se peut que certains événements soient perturbés. <br> Contactez l'organisateur pour en savoir plus.</h4>
  <a href="https://www.gouvernement.fr/"> Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
</div> 
  <%= render 'form', event: @event, :class => "links" %>
</div>
