<h1> A propos de Fais Moi Signe </h1>
<div class="container">
	<div class="row mb-5 mt-5">
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">Pourquoi avoir créé la plateforme Fais-Moi Signe ?</h5>
					<p class="card-text" style="color:#FAFAFA;">Nous avons créé Fais-Moi Signe  pour mettre en 
					relation des personnes pratiquant la Langue des 
					Signes Française et des personnes souhaitant 
					l’apprendre afin de développer la LSF. </p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">L’inscription et les rencontres sont-elles payantes ?</h5>
					<p class="card-text" style="color:#FAFAFA;">L’utilisation de Fais-Moi Signe est totalement 
					gratuite. Mais, si les rencontres nécessitent 
					des frais, cela sera à votre charge (exemple : un 
					petit chocolat chaud)</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">Vérifiez-vous les évènements créés par les utilisateurs ? </h5>
					<p class="card-text" style="color:#FAFAFA;">Les évènements créés sont soumis à une 
					validation. Si la réponse est favorable, ils sont 
					publiés en ligne dès que possible.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">Je suis un utilisateur particulier, puis-je créer ma rencontre ?</h5>
					<p class="card-text" style="color:#FAFAFA;">Tous les utilisateurs inscrits sur Fais-Moi Signe 
					peuvent créer leur évènement. Il n’y a pas de 
					limite de création, la validation dépend 
					seulement de la modération. </p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">L’inscription et les rencontres sont-elles payantes ?</h5>
					<p class="card-text" style="color:#FAFAFA;">L’utilisation de Fais-Moi Signe est totalement 
					gratuite. Mais, si les rencontres nécessitent 
					des frais, cela sera à votre charge (exemple : un 
					petit chocolat chaud)</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem; background-color:#291F71;">
				<div class="card-body">
					<h5 class="card-title"  style="color:#FAFAFA;">Est-il possible de rejoindre l’équipe Fais-Moi Signe ?</h5>
					<p class="card-text" style="color:#FAFAFA;">Pour rejoindre l’équipe Fais-Moi Signe, il suffit 
					de nous contacter. Nous échangerons 
					ensemble sur vos motivations à travailler pour 
					notre association.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mb-5 mt-5">
		<div class="col-md-6">
			<h3 class=" mb-5 mt-5">Qui sommes-nous ?</h3>
			<p> Les petites mains de Fais-Moi Signe c’est une équipe de bénévoles. Nous avons créé cette plateforme pour multiplier les échanges autour de la Langue des Signes Française. Créé en 2019 par un groupe d’étudiants, Fais-Moi Signe devient une association en 2020.
			Nous croyons qu’il est nécessaire de répondre au besoin de ceux qui utilisent cette langue pour s’exprimer.
			Nous croyons qu’il est nécessaire de briser la barrière de la communication entre tous les individus.
			Nous croyons que l’apprentissage de cette langue doit être accessible et gratuit pour tous.
			Nous croyons que Fais-Moi Signe sera notre solution.</p>
		</div>
		<div class="col-md-6" >
			<%= image_tag 'allteam.png', class: "img-fluid" %>
	  	</div>
	</div>
</div>