<div class="jumbotron p-4 p-md-5 text-white rounded onlineevent__bgSurprise">
	<div class="container">
		<div class="col-md-6 px-0 d-flex flex-column justify-content-start">
			<h1 class="display-4 font-italic text-left">Surprise !</h1>
	  		<p class="lead my-3">Dimanche c'est Pâques. Et qui dit Pâques dit ?... Chasse aux oeufs !! 🐣 C'est pourquoi on vous a préparé une semaine remplie de surprises. 😄 </p>
		</div>
	</div>
</div>

<div class="container">
	<div class="blog-post">
		<h2 class="blog-post-title">Les règles du jeu</h2>
		<p> Chaque jour, nous lancerons des activités, des jeux, auxquels <em>VOUS</em> pourrez participer !!</p>
		<blockquote>
		  <p>Nous avons déjà dissimulé de nombreux indices que l'on vous fera chercher. <br> Vous pouvez participer sur tous nos réseaux pour avoir plus de chances de gagner </p>
		</blockquote>
		<p>Mais pour gagner quoi ? Ça, on vous le dira dans la semaine... </p>


		<p class="blog-post-meta mt-5">Mardi 7 Avril 2020</p>
		<hr>
		<strong><p>Le premier jeu est un B A S I Q U E : une charade !</p> </strong>
		<p>Pour participer, il vous suffit de trouver la phrase cachée, d'aimer le post sur un des réseaux sociaux de Fais-Moi Signe, et de commenter la réponse...</p>

	<div class="jeu onlineevent__jeu text-center" >
		<h3 class=""> JEU 1 </h3>
		<%= image_tag 'online events/charade.jpg', class: "img-fluid"%>
	</div>

	<div class="blog-post mt-5">
		<p class="blog-post-meta">Mercredi 8 Avril 2020</p>
		<hr>
		<p> On vous a préparé un petit quiz sur la LSF... 1 question = 1 point ! </p>
		<p>C'est l'un des jeux où vous pourrez marquer le plus de points pour cette semaine spéciale Pâques !</p>
		<strong><p><a href="https://bestiefy.com/q?=PPXSe">Commencez le quiz de qualité supérieure !</a></p> </strong>
		
	<div class="jeu onlineevent__jeu text-center" >
		<h3 class=""> JEU 2 </h3>
		<%= image_tag 'online events/quiz.jpg', class: "img-fluid"%>
	</div>

</div>

