	<div class="banniere1" >
		<%= image_tag 'ban.png', class: "", :width => "100%"; %>

		</div>	
	
	<div class="container">

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 centrer darkblue">
				<h5> Rencontrez des personnes parlant la langue des signes où vous voulez, quand vous voulez et ce qu’importe votre niveau ! </h5>
			</div>
		</div>
		

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 centrer darkblue">
				<h1 class="title-accueil">IL SUFFIT JUSTE DE FAIRE UN SIGNE.</h1>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-2 centrer bottom">
				<%= link_to "Organiser",new_event_path, class: " btn btn-danger btn-sm nav-link" %></%></button> 
			</div>
			<div class="col-lg-2 centrer bottom">
				<%= link_to "Participer",events_path, class: "btn btn-danger btn-sm nav-link" %></%></button> 
			</div>
		</div>
		<div class="" style="height: 200px;"></div>
		<!--
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4 darkblue centrer"> <h6>Trouvez un évènement près de chez vous !</h6>
			</div>
			
		</div>


		<div class="row" style="margin-top: 120vh">
			<div class="col-lg-5"></div>
			<div class="col-lg-2 calltoaction centrer"> 
				<button type="button" class="btn btn-outline-primary centrer calltoaction">Rejoignez-nous</button> 
			</div>
		</div>

		<div class="row">
			<div class="img4">
				
			</div>

			<div class="col-lg-9"></div>
			<div class="col-lg-3 centrer" style="margin-top: -20vh;"> 
				<button type="button" class="btn btn-outline-primary centrer inscription">Inscrivez-vous</button> 
			</div>
			-->
		</div>
	</div>

	