<style>
  h2{
    font-family: 'Roboto', sans-serif;
  }
</style>
<% content_for :title, 'Fais-Moi Signe' %>

<div class="row">
  <div class="col-md-6 d-flex align-items-center">
    <div>
      <h2>
        Découvre la Langue  des Signes Française à travers des événements conviviaux ouverts à tous !
      </h2>
      <p>
        Tu rencontreras des signants et non-signants autour d’activités de dessin, photos, cuisine, d’un café ou même d’un live.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag 'home/illustration.png', class: 'img-fluid' %>
  </div>
</div>
<h2>Evenements à venir</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <%= image_tag 'home/illustration.png', class: 'img-fluid' %>
      <div class="card-body">
        <h5 class="card-title">Atelier dessin/ peinture dans la nature</h5>
        <p class="card-text">Le 04/03/2021 à 10:00</p>
        <p class="card-text">Brétigny-sur-Orge</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="container" style="background-color: #FFF2F9;">
    <h2>Evenements à venir</h2>
  </div>
</div>
