<% content_for :title, 'Fais-Moi Signe' %>

<div class="row">
  <div class="col-md-6 d-flex align-items-center">
    <div>
      <h2>
        Découvre la Langue  des Signes Française à travers des événements conviviaux ouverts à tous !
      </h2>
      <p>
        Tu rencontreras des signants et non-signants autour d’activités de dessin, photos, cuisine, d’un café ou même d’un live.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag 'home/illustration.png', class: 'img-fluid' %>
  </div>
</div>
