	
	
	<div class="home">


		<div class="row">
			<div class="banniere1" >
		<%= image_tag 'test.png', class: "img5", :width => "100%"; %>

		</div>	
			<div class="col-lg-3"></div>
			<div class="col-lg-6 centrer darkblue">
				<h5 class="baseline"> Rencontrez des personnes pratiquant la Langue des Signes Française où vous voulez, quand vous voulez et ce qu’importe votre niveau ! </h5>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 centrer darkblue">
				<h1 class="title-accueil">IL SUFFIT JUSTE DE FAIRE UN SIGNE. </h1>
			</div>

			<div class="col-lg-4"></div>
			<div class="col-lg-2 centrer bottom">
				<%= link_to "Organiser",new_event_path, class: " btn btn-danger btn-sm nav-link" %></%></button> 
			</div>
			<div class="col-lg-2 centrer bottom">
				<%= link_to "Participer",events_path, class: "btn btn-danger btn-sm nav-link" %></%></button> 
			</div>
		</div>

	</div>

	