
<div class="onlineevent">
<div class="jumbotron onlineevent__jumbotron text-center text-black">
    <h1 class="display-4">Fais-Moi Signe part en live !</h1>

    <blockquote class="blockquote mb-0">
        <p>Malgré cette situation inédite, Fais-Moi Signe débarque en ligne ! Nous vous proposons des événements en ligne afin de se rencontrer après le confinement <br> Ces événements prendront la forme de jeu en ligne.</p>
        <footer class="blockquote-footer">L'équipe<cite title="Source Title"> Fais-Moi Signe</cite></footer>
    </blockquote>
</div>

</div>
