<h1>Bienvenue</h1>
<p>Vous n'aviez pas <a target="_blank" href="#">compris ?</a></p>

<h2>Nous voulions juste vous dire<a target="_blanck" href="#">Merci</a></h2>
<p>Trouvez et/ou organiser<a target="_blanck" href="#"> votre événement</a></p>
