<% content_for :title, 'Fais-Moi Signe Family' %>

<h2 class="text-center text-primary">Notre Famille</h2>
<p class="text-center py-5 text-primary h4">L’équipe croît à la solidarité et au partage. Ce sont ces valeurs qui nous ont permis de rencontrer des personnes génials et admirables. Parmi ces personnes, trois ont réellement voulu nous aider. Les voici !</p>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'sponsors/audran.jpg', class: "img-fluid p-5 rounded-circle" %>
    <h4>Audran Cattin</h4>
    <p>Parrain</p>
    <p class="text-muted">Acteur dans la série <em> Les Bracelets rouges </em> sur TF1</p>
    <p>
      "Je trouve ça fabuleux qu'on puisse échanger et apprendre la culture sourde. C'est formidable, vous avez tout mon soutien"
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'sponsors/sophie.jpg', class: "img-fluid p-5 rounded-circle" %>
    <h4>Sophie Bazerque</h4>
    <p> Marraine </p>
    <p class="text-muted">Fondatrice de Difizi</p>
    <p>Sourde de naissance, Sophie s'est lancée dans une belle aventure. Il y a quelques mois <a href="https://www.difizi.com/">Difizi</a> est née. Cette plateforme unique permet de mettre en relation entre prestataires et particuliers sourds, malentendants et entendants pratiquant la Langue des Signes Française (LSF), la Langue Parlée Complétée (LPC) ou la forme écrite. </p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'sponsors/nina.jpg', class: "img-fluid p-5 rounded-circle" %>
    <h4>Nina Tourdot-Fuentes</h4>
    <p>Ambassadrice</p>
    <p class="text-muted">Etudiante en orthophonie et LSF</p>
    <p>"Le jour où j'ai commencé à m'intéresser à la LSF, je me suis rendue compte à quel point la culture sourde était mise à l'écart. C'est pourquoi j'ai commencé à prendre des cours, à participer à des événements. Plus j'apprends et plus je me rends compte qu'il existe un réel fossé entre les entendants et la communauté sourde. Aujourd'hui, afin que les deux parties n'en fassent plus qu'une, je participe activement à la sensibilisation de la LSF auprès des entendants." </p>
  </div>
</div>
