body {
	background-color: white;
	font-family: 'Montserrat';
	position: relative;
}

h1 {
	font-weight: 700;
}

h3 {
	font-weight: 700;
}

// NAVBAR
.navbar {
	background-color: white !important;
	width: auto;
	z-index: 1;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	.navbar-brand img {
		width: 35px;
	}
}

.nav-link, .navlink:visited{
	width: 150px;
	color: #291F71;
	text-transform: uppercase;
	text-decoration: none;
}

.collapse{
	justify-content: flex-end;
	margin-right: 45px;
}

.navbar li{
  text-align: center !important;
  width:100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
  }
  ul li {
    padding: 6px 0;
  }
  ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
  ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FFCAE7;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  ul li a:hover {
    color: #FFCAE7;
  }
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
  }

.logo_title{
	color: black;
	text-decoration: none;
}

.logo_title:hover{
	color: black;
	text-decoration: none;
}

// Accueil

.lsf, .uni, .logoHP{
	height: 4vw;
}

.title-accueil{
	font-size: 60px;
	margin-top: 8vh;
}

.banniere1{
	position : absolute;
	width: 90%;
	margin-left: 80px;
}

.baseline{
	margin-top: 5vh;
}

.btn-danger{
	background-color: #243c83 !important;
	border: #243c83 !important;
	color: white !important;
	margin-top: 30px;
}

.home{
	height: auto;
	background-color: #F1F0F0;
}

.bg {
	background-image: url("images/logo.png");
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: -1% 40%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-color: #291F71;
}

//CARDS EVENTS

.evenements {
	width: 100%;
	height: 100%;
}

.card.col-3 {
	max-width: 22%;
	height: 350px;
}

.card.col-3.first-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-title.first-card {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.card-img-top.first-card {
	width: 30%;
}

.link-first-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-body.acc {
	padding: 0.5rem 0 0.25rem 0;
}

.card-text.acc, .card-title.acc {
	margin-bottom: 0.3rem;
}



// CONTACT

.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #291F71;
	width: 100%;
	padding: 8%;
	color: #FAFAFA;
	position: relative;
	height: 50%;
	max-height: 580px;
}

.contact-part {
	width: 22vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.contact-center {
	margin: 0 5vw;
}

.contact-titre {
	font-size: 30px;
	text-align: center;
}

.underlineText {
	width: 17vw;
	margin: 0 3vw 2vh 10vw;
	height: 5px;
	background-color: pink;
}

.contact-desc {
	font-size: 1rem;
	margin: 8%;
}

.btn-secondary {
	background-color: #FAFAFA;
	color: #291F71;
	margin: 0 0 0 0;
	width: 20vw;
	border: none;
}

.btn-secondary:hover {
	background-color: #FFCAE7;
	color: #291F71;
	border-color: #291F71;
	border: 0.5px solid;
	cursor: pointer;
}

.text-accueil {
	color: #FAFAFA;
}

.soutiens {
	background-color: #FAFAFA;
	width: 100%;
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #291F71;
}

.soutiens-titre {
	font-size: 30px;
}

.soutiens-logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90vw;
	padding: 100px;
}


// EVENTS

.card{
	margin: 10px auto;
	background-color: white;
	border-color: transparent;
	padding: 5px;
	justify-content: space-between;
}

.card.profile-card.col-3 {
	min-width: 32%;
}

.card.col-4 {
	min-width: 48.5%;
}

.title{
	text-align: center;
	margin: 30px;
	color: #243c83;
	font-weight: bold;
	font-size: 3rem;
}

.add_event .content{
	height : auto;
}

// CREER UN NOUVEL EVENEMENT


.add_event form{
	height: auto;
	margin-bottom : 60px;
}

form{
	margin: auto;
	height: 100vh
}


.padbas {
	padding-bottom: 5vh;
}

.buttoncreate {
	background-color: #243c83 !important;
	color: white;
	border: white;
}

.centrer {
	text-align: center;
}

.darkblue {
	color : #243c83;
	text-align: center;
	padding: 20px;

}

.form-control{
	border-color: #D1D1D1;
	opacity: 20%;

}


.img{
	position : absolute;
	margin-bottom: 20vh;
	bottom : 0px;
	float: left;

}


.img1{
	position : absolute;
	top : 150px;
	right: 0;
}

// Rencontres

.link:hover{
	color: #243c83;
}

.bottom{
	text-align: center;
}

.btn-primary {
	width : 100%;
	color : #FAFAFA;
	background-color: #291F71;
    border-color: #291F71;
    text-transform : uppercase;
    cursor: pointer;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
	width : 100%;
	color : #291F71;
	background-color: transparent;
    border-color: #291F71;
    border: 0.5px solid;
    text-transform : uppercase;
   	cursor: pointer;
}

.btn-primary-act {
	width : 49%;
	color : #FAFAFA;
	background-color: #FFCAE7;
    border-color: #291F71;
    text-transform : uppercase;
    cursor: pointer;
}

.btn-primary-act:hover, .btn-primary-act:not(:disabled):not(.disabled):active {
	color : #291F71;
	background-color: transparent;
    border-color: #291F71;
    border: 0.5px solid;
    text-transform : uppercase;
   	cursor: pointer;
}

.link{
	color: #243c83;
}

.date{
	font-size: 15px;
}

// FOOTER

footer{
	display: flex;
	background-color: #291F71;
	position: absolute;
  width: 100%;
	color: #FAFAFA;
	justify-content: space-between;
	padding: 20px;
}

.lien{
	padding: 5px;
	padding-left:10px;
	color: #FAFAFA;
	-webkit-transition:all .3s ease;
			transition:all .3s ease;
}


.lien:hover{
	color: #FFCAE7;
	-webkit-transition:all .3s ease;
			transition:all .3s ease;
}


.site{
	color: #FAFAFA;
}

.copyright{
	text-align: left;
}

.site:hover{
	color: #FFCAE7;
}

// AFFICHER

.content {
    max-width: 40%;
	margin: auto;
	height: 100vh;

}

.elements{
	top: 0;
}

.colonne{
	margin: 0 auto;
}

.content div{
	padding-bottom: 15px;
}


hr {
    display: block;
    height: 1px;
    border-top: 3px solid #FFCAE7;
    padding: 0;
}


.button-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	margin: 30px;
  .btn {
    margin-top: 1em;
    width: 200px;
    padding: .4em 2.6em;
    font-size: 1.1em;
  }
}

.img2{
	position : absolute;
	top : 240px;
	right: 40px;
}

.img3{
	position : absolute;
	bottom : 170px;
	left: 60px;
}


// Découvrir

.discover {
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discover-title {
  color: #243c83;
  font-size: 30px;
  font-weight: bold;
  margin-top: 5vh;
}

.Questions{
	margin: 10px;
	text-align: center;
}



.img7Team{
	width: 80%;
	margin-top: -80px;
}

.mail{
	font-size: 16px;
	margin: 50px;
}

.cartes {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.carte {
  width: 32%;
  height: 27vh;
  margin-top: 1vw;
  background-color: #243c83;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #FAFAFA;
  padding: 20px 10px;
  font-size: 1vw;
}

.carte img {
  height: 8vh;
}

.quisommesnous {
  width: 86%;
  padding-top: 10vh;
}

.text2 {
  color: #243c83;
  font-size: 20px;
  margin-bottom: 5vh;
}

.rs {
	text-align: right;
	color: #243c83;
}

.rs:hover {
	color: #FFCAE7;
}

// Titres evenements

.dated-events {
  color: #243c83;
  font-size: 2rem;
  padding: 2vh 0;
}



//USERS

.users {
	max-width: 80%;
	margin: auto;
}

.users .row{
	padding: 0;
}

.users .card{
	margin: 10px 10px !important;
}


@media screen and (max-width: 640px) {
  .banniere1{
		display: none;
	}

	.home .row {
		padding-bottom: 10px;
    padding-top: 40px;
	}

	form{
		max-width: 80%;
	}

	.img{
		display: none;
	}

	.img1{
		display: none;
	}
	.img2{
		display: none;
	}

	.img3{
		display: none;
	}
	.content {
		margin-top: 20px;
    max-width: 80%;
}

}
label{
	color: #291F71;
}

label::placeholder{
	color: #291F71;
}
