
        
        <section>
        <div class="title"><span>Bienvenue</span><span>Vous n'aviez pas <a target="_blanck" href="#">compris ?</a></span></div>
      </section>

      <section>
        <div class="title traduc"><span>Nous voulions juste vous dire<a target="_blanck" href="#">Merci</a> <br>
      <div class="organize"> Trouvez et/ou organiser<a target="_blanck" href="#"> votre événement</a></div></span></div>
      </section>

      <%= link_to "About", "/about" %>