/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {

	 // FONTS
  $font1: 'Lato', sans-serif;
  $font2: 'playlistscript';
  $light: 300;
  $regular: 400;
  $bold: 700;

 	 // COLORS
  $white: #FFFFFF;
  $rouge: #E32C20;
  $bleu: #14024F;
  $bleufonce: #240388;
  $black: #000000;
  $gris: #D1D1D1;
  //

	background-color: $white;
	font-family: 'Lato', sans serif;
}



 .img-fluid{
  	width: 60px;
  	padding: 5px;
  	margin-left: 30px;

  }

.events {
	max-width: 80%;
	margin: auto;
}

.lien{
	margin : 20px 0;
}

.title{
	text-align: center;
	margin: 50px;
}

// HEADER

.navbar{
	 background-color: white !important;
	 box-shadow: 0px 1px 8px #999;
	 font-size: 17px;
	 position: relative;
} 

.navbar-nav{
	padding-left: 220px;

}

.nav-item{
	 padding: 2px 15px;
	
}

.nav-item2{
	padding: 2px 85px;
	font-size: 17px;
}



//Login/out

.form-group{
	margin: 15px 400px;
}

.button-login{
	text-align:center;
}

.links{
	margin: 15px 400px;
}








