/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  */

@import "pages";
@import "events";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html{
	height: 100vh;
}
body {

	 // FONTS
  $font1: 'Lato', sans-serif;
  $font2: 'playlistscript';
  $light: 300;
  $regular: 400;
  $bold: 700;

 	 // COLORS
  $white: #f6F6F6;
  $orange: #FF8F4F;
  $bleufonce: #14024F;
  $bleu: #4305FF;
  $black: #0F1814;
  $gris: #A9A9A9;
  //

	background-color: white;
	font-family: 'Lato', sans serif;
}



 .img-fluid{
  	width: 60px;
  	padding: 5px;
  	margin-left: 30px;

  }


// HEADER


.navbar{
	 background-color: white !important;
	 box-shadow: 0px 1px 8px #999;
	 font-size: 17px;
	 width: auto;
	 z-index: 1;
	 
} 

.collapse{
	justify-content: flex-end;
	 margin-right: 45px;
}

.navbar li{
  text-align: center !important;
  width:100%;
}


.logo_title{
	color: black;
	text-decoration: none;
}

.logo_title:hover{
	color: black;
	text-decoration: none;
}

// Accueil

.title-accueil{
	font-size: 35px;
	margin-top: 30px;
}

.banniere1{
	position : absolute;
	bottom : 0px;
}

.btn-danger{
	background-color: #FF8F4F !important;
	border: #FF8F4F !important;
	color: white !important;
}








//Login/out

form{
	max-width: 60%;
	margin: auto;
}


.button-login{
	text-align:center;
}

.links{
	margin: 15px 400px;
}



// EVENTS

.card{
	margin: 10px auto !important;
	background-color: #f6F6F6;
	border: none;
}

.title{
	text-align: center;
	margin: 30px;
	color: #14024F;
	font-weight: bold;
}

/*PARTIE CREER UN NOUVEL EVENEMENT*/

label {
	color: #FF8F4F;
}


form{
	max-width: 40%;
	margin: auto;
}


.padbas {
	padding-bottom: 5vh;
}

.buttoncreate {
	background-color: #4305FF !important;
	color: white;
	border: white;
}

.centrer {
	text-align: center;
}

.darkblue {
	color : #14024F;
	text-align: center;
	padding: 20px;

}

.form-control{
	border-color: #D1D1D1;
	opacity: 20%;

}


.img{
	position : absolute;
	bottom : 0px;
	float: left;

}


.img1{
	position : absolute;
	top : 150px;
	right: 0;
}

// Rencontres


.row{
	margin: auto;
	padding: 50px;
}

.card-title{
	color: #4305FF;
	text-align:center;
}

.bottom{
	text-align: center;
}

.card{
	border-color: #14024F;
	box-shadow: 1px 1px 3px ; 
}


.btn-outline-primary:hover{
	background-color: #4305FF !important;
	opacity: 30%;
	color: white !important;
}

.btn-outline-secondary:hover{
	background-color: #A9A9A9 !important;
	opacity: 30%;
	color: white !important;
}
.btn-outline-danger:hover{
	background-color: #FF8F4F !important;
	opacity: 30%;
	color: white !important;
}

.btn-outline-primary{
	border-color: #4305FF !important;
	color: #4305FF !important;
}

.btn-outline-secondary{
	border-color: #A9A9A9 !important;
	color: #A9A9A9 !important;
}
.btn-outline-danger{
	border-color: #FF8F4F !important;
	color: #FF8F4F !important;
}

.color{
	color: red;
}

.link{
	color: #FF8F4F;
}

// FOOTER

footer {
	position: relative;
	bottom: 0;
 	background-color: #FF8F4F;
 	margin: auto;
 	padding: auto;
 	bottom: 0;

 }

.lien{
	font-size: 30px;
	padding: 30px;
	margin-bottom: 30px;
	 }

.footer-copyright{
	margin: 10px;
}


footer .row{
	padding: 20px 0 ;
}


// AFFICHER 

.content {
    max-width: 40%;
	margin: auto;

}

.elements{
	top: 0;
}

.colonne{
	margin: 0 auto;
}
.content h1 {
  font-weight: 700;
}

.content div{
	padding-bottom: 15px;
}

.content p {
  color: #4305FF;
  font-size: 18px;
}

.aff-title{
	text-align: center;
	color: #14024F;
	font-size: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #FF8F4F;
    margin: 1em 0;
    padding: 0;
}

.description{
	margin-top: .7em;
}

.button-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  .btn {
    margin-top: 1em;
    width: 200px;
    padding: .4em 2.6em;
    font-size: 1.1em;
  }
}

.img2{
	position : absolute;
	top : 240px;
	right: 40px;
}

.img3{
	position : absolute;
	bottom : 0px;
	left: 60px;
}
















