/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "pages";
@import "events";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {

	 // FONTS
  $font1: 'Lato', sans-serif;
  $font2: 'playlistscript';
  $light: 300;
  $regular: 400;
  $bold: 700;

 	 // COLORS
  $white: #FFFFFF;
  $orange: #F78A5E;
  $bleufonce: #14024F;
  $bleu: #240388;
  $black: #000000;
  $gris: #A9A9A9;
  //

	background-color: $white;
	font-family: 'Lato', sans serif;
}



 .img-fluid{
  	width: 60px;
  	padding: 5px;
  	margin-left: 30px;

  }


// HEADER

.navbar{
	 background-color: white !important;
	 box-shadow: 0px 1px 8px #999;
	 font-size: 17px;
	 
} 

.navbar ul{
    margin: auto;
    display: flex;
}

#navbarNav {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	}

#navbarNav2 {
	position: absolute;
	right: 10%;
}

.logo_title{
	color: black;
	text-decoration: none;
}

.logo_title:hover{
	color: black;
	text-decoration: none;
}

//Login/out

form{
	max-width: 60%;
	margin: auto;
}


.button-login{
	text-align:center;
}

.links{
	margin: 15px 400px;
}



// EVENTS

.card{
	margin: 10px auto !important;
}

.title{
	text-align: center;
	margin: 40px;
	color: #14024F;
	font-weight: bold;
}

/*PARTIE CREER UN NOUVEL EVENEMENT*/

label {
	color: #E32C20;
}


form{
	max-width: 40%;
	margin: auto;
}


.padbas {
	padding-bottom: 5vh;
}

.buttoncreate {
	background-color: #14024F !important;
	color: white;
	border: white;
}

.centrer {
	text-align: center;
}

.darkblue {
	color : #14024F;
	text-align: center;
	padding: 20px;

}

.form-control{
	border-color: #D1D1D1;
	opacity: 20%;

}


.img{
	position : absolute;
	bottom : 0px;
	float: left;

}


.img1{
	position : absolute;
	top : 150px;
	right: 0;
}

// Rencontres


.row{
	margin: auto;
	padding: 50px;
}

.card-title{
	color: #F78A5E;
	text-align:center;
}

.bottom{
	text-align: center;
}

.card{
	border-color: #14024F;
	box-shadow: 1px 1px 3px #A9A9A9; 
}


.btn-outline-primary:hover{
	background-color: #240388 !important;
	opacity: 30%;
	color: white !important;
}

.btn-outline-secondary:hover{
	background-color: #A9A9A9 !important;
	opacity: 30%;
	color: white !important;
}
.btn-outline-danger:hover{
	background-color: #F78A5E !important;
	opacity: 30%;
	color: white !important;
}

.btn-outline-primary{
	border-color: #240388 !important;
	color: #240388 !important;
}

.btn-outline-secondary{
	border-color: #A9A9A9 !important;
	color: #A9A9A9 !important;
}
.btn-outline-danger{
	border-color: #F78A5E !important;
	color: #F78A5E !important;
}

.color{
	color: red;
}
