$primary: #291F71
$secondary: #FFF2F9
$light: #F2F2F2
$dark: #151515
$font-family-base: 'Montserrat', sans-serif

$h2: 'Roboto', sans-serif
$h3: 'Roboto', sans-serif
$h4: 'Roboto', sans-serif

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap')
@import 'font-awesome'
@import 'bootstrap'
