<%
url = asset_path 'background/animation.gif'
url = yield :jumbotron_background if yield(:jumbotron_background).present?
%>
<div  class="jumbotron home__header text-center text-white"
      style="background-image: url('<%= url %>')">
  <div class="container">
    <h1><%= yield(:title).presence || 'Fais-moi signe' %></h1>
    <%= yield :jumbotron %>
  </div>
</div>
