<div class="container mt-5 mb-5">
  <div class="alert alert-danger small text-muted" role="alert">
      En raison de l'actualité, il se peut que certains événements soient perturbés.
      Contactez l'organisateur pour en savoir plus.
      <a href="https://www.gouvernement.fr/">Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
  </div>
</div>
