*
    font-family: 'Montserrat'

h1, h2, h3
    font-weight: 700

h1
    text-align: center
    margin-top: 60px
    margin-bottom: 30px

.navbar
    .navbar-brand img
        width: 75px

.footer
    margin-top: 60px
