.onlineevent
    &__jumbotron
        background-image: url("https://creativepool.com/files/candidate/portfolio/full/927632.gif");
        background-size: cover;
        border-radius: 0
        h1
            font-weight: 700